.CheckoutPage {
    padding: 10px;
    width: 100%;
}

.CheckoutPageMobile {
    padding: 10px 10px 50px 10px;
}

.textNamePay {
    box-shadow: 0 1px 0 0 var(--grey);
}

.redirection {
    min-height: 100vh;
}

.inputPlaceholder {
    margin-bottom: 17px;
}

